body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --frame-bg: #333;
  --frame-text: white;
  --pin-text-hgt: 18px;
  --frame-text-hgt: 26px;
}

.frame-container {
  display: flex;
}

.frame {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: var(--frame-bg);
  color: var(--frame-text);
  margin-right: 2px;
}

.frame .first-pin {
  float: left;
  padding: 4px 6px 4px 6px;
  font-size: var(--pin-text-hgt);
}

.frame .second-pin {
  float: right;
  padding: 4px 8px 4px 8px;
  font-size: var(--pin-text-hgt);
  border-left: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

.frame p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-bottom: 5px;
  font-size: var(--frame-text-hgt);
  text-align: center;
  width: 100%;
}

.home-container {
  display: grid;
  align-items: center;
  height: 100vh;
}
